.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    max-width: 680px;
  }
  .flexBox1 {
    width: 80%;
    margin: auto;
  }
  .flexBox2 {
    max-width:60px;
    margin: auto;
  }
  .buttons{
      margin-top:5px;
      width: 50px;
  }
  
  #number{
      margin-left: 5px;
  }
  
  .button {
    background-color: #5963f0;
    border: black;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 50%;
  }
  .danger-button{
    background-color: rgb(224, 167, 167);
    border: black;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 50%;
  }
  .mat-icon{
    font-size: 20px;
  }
  .disabled-button{
    background-color: #cfd1ec;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 50%;
  }
  .button-container{
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width:612px) {
    .button {
      background-color: #5963f0;
      border: black;
      color: white;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 2px 1px;
      border-radius: 50%;
    }
    .danger-button {
      background-color: rgb(224, 167, 167);
      border: black;
      color: white;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 2px 1px;
      border-radius: 50%;
    }
    .mat-icon{
      font-size: 20px;
    }
    .disabled-button{
      background-color: #cfd1ec;
      border: none;
      color: white;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 2px 1px;
      border-radius: 50%;
    }
    .container {
      display: flex;
      flex-direction: row;
      font-size: smaller;
      font-family: Arial, Helvetica, sans-serif;
      
    }
  
    .button-container{
      display: flex;
      flex-direction: row;
    }
    .flexBox1 {
      width: 90%;
      margin: 15px;
      flex-direction: row;
    }
    .flexBox2 {
      max-width:90%;
      margin: auto;
    }
  }
  
  .button-flex{
    width: 100%;
  }
  
  $particles: 50;
  $width: 500;
  $height: 500;
  
  $box-shadow: ();
  $box-shadow2: ();
  @for $i from 0 through $particles {
    $box-shadow: $box-shadow,
                 random($width)-$width / 2 + px
                 random($height)-$height / 1.2 + px
                 hsl(random(360), 100%, 50%);
    $box-shadow2: $box-shadow2, 0 0 #fff
  }
  @mixin keyframes ($animationName) {
      @-webkit-keyframes #{$animationName} {
          @content;
      }
  
      @-moz-keyframes #{$animationName} {
          @content;
      }
  
      @-o-keyframes #{$animationName} {
          @content;
      }
  
      @-ms-keyframes #{$animationName} {
          @content;
      }
  
      @keyframes #{$animationName} {
          @content;
      }
  }
  
  @mixin animation-delay ($settings) {
      -moz-animation-delay: $settings;
      -webkit-animation-delay: $settings;
      -o-animation-delay: $settings;
      -ms-animation-delay: $settings;
      animation-delay: $settings;
  }
  
  @mixin animation-duration ($settings) {
      -moz-animation-duration: $settings;
      -webkit-animation-duration: $settings;
      -o-animation-duration: $settings;
      -ms-animation-duration: $settings;
      animation-duration: $settings;
  }
  
  @mixin animation ($settings) {
      -moz-animation: $settings;
      -webkit-animation: $settings;
      -o-animation: $settings;
      -ms-animation: $settings;
      animation: $settings;
  }
  
  @mixin transform ($settings) {
      transform: $settings;
      -moz-transform: $settings;
      -webkit-transform: $settings;
      -o-transform: $settings;
      -ms-transform: $settings;
  }
  
  body {
    margin:0;
    padding:0;
    background: #000;
    overflow: hidden;
  }
  
  .pyro > .before, .pyro > .after {
    z-index: 10000;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
  }
      
  .pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
  }
          
  @include keyframes(bang) {
    to {
      box-shadow:$box-shadow;
    }
  }
      
  @include keyframes(gravity)  {
    to {
      @include transform(translateY(200px));
      opacity: 0;
    }
  }
      
  @include keyframes(position) {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
  }
  