 
 <div class="container">
 
  <!-- Pyro animation for celebration -->
  <div *ngIf="done" class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>

  <!-- Sudoku board -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let row of [].constructor(9); let i = index">
          <td
            *ngFor="let col of [].constructor(9); let j = index"
            [@colorState]="colorState[i][j]"
            (click)="selectCell(i, j)"
            class="text-center align-middle"
            style="height: 50px; width: 50px;">
            <span *ngIf="grid[i][j] != 0">{{ grid[i][j] }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Number buttons and erase button -->
  <div class="button-container">
    <div *ngFor="let button of buttons; let i = index" class="m-1">
      <button
        [ngClass]="{
          'btn btn-secondary': activeButton[i],
          'btn btn-primary': !activeButton[i]
        }"
        [disabled]="activeButton[i]"
        (click)="fillValue(button)"
      >
        {{ button }}
      </button>
    </div>
    <div class="m-1">
      <button class="btn btn-danger" (click)="eraseValue()" [ngbTooltip]="'Erase selected cell'" container="body">
        <i class="bi bi-trash" ></i> <!-- Using Bootstrap Icons for delete icon -->
      </button>
    </div>
    <div class="m-1">
      <button class="btn btn-warning" (click)="restart()" [ngbTooltip]="'Restart game'" container="body">
        <i class="bi bi-arrow-clockwise"></i> <!-- Using Bootstrap Icons for restart icon -->
      </button>
    </div>
  </div>
   
</div>


